@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(to bottom, transparent 25%, rgb(18, 18, 18) 33%);  background-repeat: repeat;
  background-position: bottom;
  background-attachment: scroll;
  font-family: 29lt_bukraregular;
}

a {

}

* {

}

