/* HEADER */

.navContainer {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
  height: 6vh;
  background-image: linear-gradient(180deg,rgb(9, 9, 9) ,  rgba(18, 18, 18, 0.956));
  text-align: center;
  box-shadow: 0px 1px 5px 3px rgba(10, 10, 10, 0.821);
  position:fixed;
}


.menuIcon {
  cursor: pointer;
  display: none; /* Hidden by default, shown on smaller screens */
}


.menuIcon img {
  width: auto;
  height: auto;
}


.menuItems {
  display: flex;
  line-height: 1.5;
  font-weight: 200;
}


.menuItemsVisible {
  line-height: 1.5;
  font-weight: 200;
}


.showMenu {
  display: none; /* Shown when menu is toggled */
  flex-direction: column;
  width: 100vw; /* Full viewport width */
  background-color: rgba(6, 6, 6, 0.802);
  height: 23rem;
  position:fixed;
  top: 6vh; /* Adjust this value to create the gap at the top */
  left: 0; /* Align to the left of the viewport */
  z-index: 999; /* Ensure it is above other elements */
  overflow-y:auto; /* Enable scrolling if content overflows */
  box-shadow: 0px 1px 5px 3px rgba(10, 10, 10, 0.391);
}


.navButton {
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: auto;
  height: 4rem;
  color: rgb(192, 192, 192);
  font-size: 1.3rem;
  text-align: left;
  z-index: 1000;
}
.navButton:hover {
  color: rgb(121, 113, 100);
}





/* BODY */

.home {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 5rem;
  margin-bottom: 50px;
  max-width: 70vw;
  align-self: left;
}


.skills {
  background-image:linear-gradient(-25deg, rgb(15, 15, 15), rgb(24, 24, 24));
  min-height: 30vh;
  max-width: 70vw;
  display: flex;
  margin-left: 15%;
  margin-right: 7%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  align-self: center;
  align-items: center;;
  align-content: center;
  outline: 3px solid rgb(19, 19, 19);
  box-shadow: 2px 3px 9px 4px rgb(9, 9, 9);
  border-radius: 12px;
}


.title {
  font-size: 3.8rem;
  color: rgb(215, 215, 214);
  align-self: center;
  font-weight: 200;
  text-shadow: 0px 2px 3px rgb(8, 8, 8);
  transition: transform 0.3s ease;
}


.title:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}


.description {
  line-height: 2rem;
  font-size: 1.1rem;
  color: rgb(185, 185, 185);
  padding: .25rem;
  font-weight: 270;
  display: flex;
  margin-top: 1rem;
  align-self: left;
}


.gallery {
  display: flex;
  justify-content: center; /* Center images horizontally */
  align-items: center; /* Align images vertically */
  gap: 1rem; /* Add spacing between images */
  margin-top: 1rem; /* Space between title and images */
  width: 90%;
  height: auto;
  flex-wrap: wrap;
}


.galleryLogo {
  margin: .8rem;
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.2s ease; /* Optional: Add hover effect */
  color: rgb(80, 80, 80);
  font-size: 1.1rem;
  min-width:90px;
  background-color: rgba(48, 48, 48, 0);
}


.galleryLogo:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}


.desc {
  padding-top: 1rem;
  display: flex;
}


.resumedownload {
  align-self: center;
  width: 3rem;
  padding: .4rem;
  padding-bottom: .5rem;
  margin-top: 2rem;
  background-image: linear-gradient(-45deg, rgb(12, 12, 12), rgb(31, 31, 31));
  border: 2px solid rgb(74, 74, 74);
  transition: transform 0.15s ease;
  border-radius: 7px;
}


.resumedownload:hover {
  box-shadow: 0px 2px 8px 5px rgba(9, 9, 9, 0.745);
  transform: scale(1.05);
}


.experienceLogo {
  z-index: 1;
  margin-top: 2rem;
  min-height: 8rem;
  padding: 1rem;
  justify-content: center;
  align-self: left;
  text-align: left;
  font-size: 1rem;
  color: rgb(192, 192, 192);
  align-items: row;
  background-image: linear-gradient(-45deg,rgb(18, 18, 18) ,  rgb(28, 28, 28));
  box-shadow: 1px 3px 3px  4px rgba(12, 12, 12, 0.474) ;
  border-radius: 7px;
}


.experienceGallery {
  justify-content: center; /* Center images horizontally */
  gap: 2rem; /* Add spacing between images */
  flex-wrap: wrap; /* Allow wrapping if screen is too small */
  max-width: 95%;
}

.projectGallery {
  display:flex;
  flex-wrap: nowrap;
  max-width: 95%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 7px;
  margin-top: 2rem;
  max-height: 30rem;
}

.projectSubject {
  flex-shrink: 0;
  width: 17rem; /* Set a maximum width for each image */
  height: 20rem; /* Maintain aspect ratio */
  border-radius: 9px; /* Optional: Add rounded corners */
  margin: 1rem;
  gap: 1rem;
  font-size: 16px;
  background-color: rgba(220, 220, 220, 0.147);
  color: rgba(232, 232, 232, 0.91);
  box-shadow: 1px 3px 8px 8px rgba(15, 15, 15, 0.709);
}

.projectImage {
  margin-top: .5rem;
  margin-left: .5rem;
  border-radius: 8px;
}

.projectDescription {
  padding-top: 1rem;
  flex-wrap: wrap;
  display: flex;
}

.projectTags {
  padding-top: 1rem;
}

.tag {
  color: rgb(161, 161, 161);
  font-size: 14px;
  padding: .75rem;
}

.tagBubble1 {
  font-size: 14px;
  margin-top: 1.5rem;
  padding: 5px;
  width: auto;
  height: auto;
  background-color: rgb(35, 34, 34);
  border-radius: 7px;
}

.tagBubble2 {
  font-size: 14px;
  margin-top: 1.5rem;
  padding: 5px;
  width: auto;
  color:black;
  height: auto;
  background-color: rgb(165, 165, 165);
  border-radius: 7px;
  margin: .3rem;
}






/* FOOTER */

.footerContainer {
  height: 3rem;
  background-image: linear-gradient(180deg,rgb(8, 8, 8) ,  rgb(18, 18, 18));
  border-top: 1px solid rgb(0, 0, 0);
  padding-left: 10vh;
  padding-top: .3rem;
}


.social_icons {
  font-size: 1.2rem;
  font-weight: 250;
  color:  rgb(128, 128, 128);
  position: relative;
}


.social_icons a i {
  color: rgb(128, 128, 128); /* Set the icon color to black */
  font-size: 24px; /* Optional: adjust the size */
  padding: .35rem;
  position: relative;
}





@media (max-width: 900px) {

  .menuItems {
    display: none; /* Hidden by default on smaller screens */
  }


  .showMenu {
    display: flex;
  }


  .navButton {
    display:static;
  }


  .skills {
    min-width: 90%;
    margin: 5%;
  }

  
  .home {

    max-width: 100%;
    padding-left: 5%;
  }


  .menuItemsVisible {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }


  .menuIcon {
    display:grid;/* Shown on smaller screens */
    width: 2.5rem;
    position:absolute;
    padding-right: 3px;
    z-index: 1010;
    padding-bottom: 2.3rem;
  }

}