.container {
  min-height: 250vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  height: 150px;
  line-height: 150px;
  font-size: 3.6rem;
  color: rgb(196, 192, 187);
}

.title:hover {
  color: rgb(255, 255, 255);
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(190,190,190);
}

.navContainer {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 1rem;
  height: 7vh;
  background-image: linear-gradient(180deg,rgb(8, 8, 8) ,  rgb(24, 24, 24));
  text-align: center;
  border-bottom: 1px solid #242424;
}

.navContent {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  color: rgb(25, 25, 25);

}

.menuIcon {
  cursor: pointer;
  display: none; /* Hidden by default, shown on smaller screens */
}

.menuIcon img {
  width: auto;
  height: auto;
}

.menuItems {
  display: flex;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}

.menuItemsVisible {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 300;
  color: black;
}

.showMenu {
  display: none; /* Shown when menu is toggled */
  flex-direction: column;
  width: 100vw; /* Full viewport width */
  background-color: rgb(24, 24, 24);
  font-size: 1.4rem;
  position:absolute;
  top: 10vh; /* Adjust this value to create the gap at the top */
  left: 0; /* Align to the left of the viewport */
  z-index: 1000; /* Ensure it is above other elements */
  overflow-y:auto; /* Enable scrolling if content overflows */
}

.navButton {
  padding: 1rem;
  padding-bottom: 3.5rem;
  width: auto;
  height: 50px;
  color: rgb(189, 185, 176);
  font-size: 1.5rem;
  text-align: left;
  padding-left: 60px;
  align-items: center;
}
.navButton:hover {
  color: rgb(135, 125, 110);
}

@media (max-width: 915px) {
  .menuItems {
    display: none; /* Hidden by default on smaller screens */
  }

  .showMenu {
    display: flex;
  }

  .navButton {
    display:static;
  }

  .menuItemsVisible {
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    padding: 1rem;
    font-family: 29lt_bukraregular;
  }

  .menuIcon {
    display: block; /* Shown on smaller screens */
    height: 35px;
    width: 35px;
  }
}

.logo {
  padding-left: 2rem;
  padding-top: 6px;
  font-weight: bold;
  color: rgb(20, 20, 20);
  font-size: 2.0rem;
}

.ctaBtn {
  display: inline-flex;
  padding: 10px 2rem;
  font-family: 29lt_bukraregular;
  font-size: 1.5rem;
  color: rgb(20, 20, 20);
  background-color: rgb(20, 20, 20);
  border-radius: 4px;
  text-align: center;
}

.ctaBtnMnu {
  width: auto;
  height: auto;
}

.footerContainer {
  height: 35px;
  background-color: rgb(231, 225, 215);
  border-top: 1px solid rgb(156, 151, 151);
  padding-left: 5rem;
  color:#2d2d2d;
}

.social_icons {
  font-size: 1.4rem;
  color:  rgb(25, 25, 25);
  position: relative;
}

.social_icons a i {
  color: rgb(23, 23, 23); /* Set the icon color to black */
  font-size: 21px; /* Optional: adjust the size */
  transition: color 0.3s; /* Optional: smooth hover transition */
  padding: .3rem;
  position: relative;
}
