.home {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5rem;
  margin-bottom: 50px;
}

.skills {
  background-image:linear-gradient(-25deg, rgba(24, 24, 24, 0.945), rgb(48, 48, 48));
  min-height: 30vh;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  /*outline: 1px solid rgb(87, 87, 87);*/
  box-shadow: 0px 3px 9px 4px rgb(20, 20, 20);

}

.title {
  font-size: 3.8rem;
  color: rgb(215, 215, 214);
  align-self: center;
  font-weight: 200;
  text-shadow: 0px 2px 3px rgb(40, 40, 40);
  transition: transform 0.3s ease;
}

.title:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.description {
  line-height: 2rem;
  font-size: 1.2rem;
  color: rgb(138, 138, 138);
  padding: .25rem;
  font-weight: 270;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  width: 50%;
}

.navContainer {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
  height: 6vh;
  background-image: linear-gradient(180deg,rgb(17, 17, 17) ,  rgba(24, 24, 24, 0.956));
  text-align: center;
  box-shadow: 0px 1px 5px 3px rgb(17, 17, 17);
  position:fixed;
}

.menuIcon {
  cursor: pointer;
  display: none; /* Hidden by default, shown on smaller screens */
}

.menuIcon img {
  width: auto;
  height: auto;
}

.menuItems {
  display: flex;
  line-height: 1.5;
  font-weight: 200;
}

.menuItemsVisible {
  line-height: 1.5;
  font-weight: 200;
}

.showMenu {
  display: none; /* Shown when menu is toggled */
  flex-direction: column;
  width: 100vw; /* Full viewport width */
  background-color: rgba(32, 32, 32, 0.802);
  height: 23rem;
  position:fixed;
  top: 6vh; /* Adjust this value to create the gap at the top */
  left: 0; /* Align to the left of the viewport */
  z-index: 999; /* Ensure it is above other elements */
  overflow-y:auto; /* Enable scrolling if content overflows */
  box-shadow: 0px 1px 5px 3px rgba(16, 16, 16, 0.391);
}

.navButton {
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: auto;
  height: 4rem;
  color: rgb(192, 192, 192);
  font-size: 1.3rem;
  text-align: left;
  z-index: 1000;
}
.navButton:hover {
  color: rgb(121, 113, 100);
}

@media (max-width: 900px) {
  .menuItems {
    display: none; /* Hidden by default on smaller screens */
  }

  .showMenu {
    display: flex;
  }

  .navButton {
    display:static;
  }


  .menuItemsVisible {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  .menuIcon {
    display:grid;/* Shown on smaller screens */
    width: 2.5rem;
    position:absolute;
    padding-right: 3px;
    z-index: 1010;
    padding-bottom: 2.3rem;
    
  }
}

.footerContainer {
  height: 3rem;
  background-image: linear-gradient(180deg,rgb(24, 24, 24) ,  rgb(37, 37, 37));
  border-top: 1px solid rgb(83, 83, 83);
  padding-left: 10vh;
  padding-top: .3rem;
}

.social_icons {
  font-size: 1.2rem;
  font-weight: 250;
  color:  rgb(128, 128, 128);
  position: relative;
}

.social_icons a i {
  color: rgb(128, 128, 128); /* Set the icon color to black */
  font-size: 24px; /* Optional: adjust the size */
  padding: .35rem;
  position: relative;
}


.gallery {
  display: flex;
  justify-content: center; /* Center images horizontally */
  align-items: center; /* Align images vertically */
  gap: 2rem; /* Add spacing between images */
  margin-top: 2rem; /* Space between title and images */
  flex-wrap: wrap; /* Allow wrapping if screen is too small */
}

.galleryLogo {
  max-width: 90px; /* Set a maximum width for each image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: Add rounded corners */
  transition: transform 0.2s ease; /* Optional: Add hover effect */
}

.galleryLogo:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}


.desc {
  padding: 15px;
  text-align: center;
}

.resumedownload {
  align-self: center;
  width: 50px;
  margin: 1rem;
}

.experienceLogo {

  margin: 2rem;

}